.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  padding-top: 50px; /* Added padding for top spacing */
}
.home img {
  margin-top: 150px;
  width: 240px;
  border-radius: 50%;
}
.home h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
}
.home h1 span {
  background: linear-gradient(270deg, #df8908, #d415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
.home-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.home-connect {
  padding: 25px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}
.home-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
/* .home-connect:hover {
  border: 2px solid white;
  color: #b415ff;
} */
.home-resume:hover {
  border-color: green;
  color: green;
}

/* Responsive Design for max-width: 768px */
@media (max-width: 768px) {
  .home img {
    margin-top: 120px;
    width: 260px;
  }
  .home h1 {
    width: 90%;
    font-size: 50px;
  }
  .home p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .home-action {
    gap: 16px;
    font-size: 18px;
    margin-bottom: 50px;
  }
  .home-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }
  .home-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}

/* Responsive Design for max-width: 480px */
@media (max-width: 480px) {
  .home {
    gap: 25px;
    padding-top: 20px;
  }
  .home img {
    width: 180px;
    margin-top: 60px;
  }
  .home h1 {
    font-size: 30px;
    width: 80%;
    padding: 0 10px;
  }
  .home p {
    width: 80%;
    font-size: 16px;
    line-height: 28px;
    margin: 8px 0;
  }
  .home-action {
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
  }
  .home-connect {
    padding: 15px 25px;
    border-radius: 30px;
  }
  .home-resume {
    padding: 15px 40px;
    border-radius: 30px;
  }
}
